<div class="container" style="justify-content: center;">
    <h1>{{producto.categoriaCategorias}}: {{producto.nombre}}</h1>
</div>

<div class="container">
  <div class="row" style="margin:15px; justify-content:center">
      <div class="cardMenu" style="width: 288px;">
            <img src="/images/{{producto.uid}}" class="card-img-top" alt="No es posible cargar la imagen" style="width:288px">  
          <div class="card-body">
            <h5 class="card-title">{{producto.nombre}}</h5>
            <p class="card-text">Precio: ${{producto.precio}}. </p>
            <p class="card-text">Quedan {{producto.stock}} disponibles</p>
            <p class="card-text"> <!--descripcion--> {{producto.descripcion}}</p>
          <div class="btnCardMenu" style="justify-content:center">
              <a href="#" class="btn btn-dark" style="background-color:#000; color:#efde2c; margin:7px">Comprar <i class="fas fa-shopping-basket"></i></a>
              <a href="#" class="btn btn-dark" style="background-color: #efde2c; color:#000; margin:7px">Agregar al carrito <i class="fas fa-cart-plus"></i></a>
      </div>
  </div>
</div>


