<div class="container">
    <div style="width: 50%; float:left;">
      <p id="font-menu" style="color:#efde2c"  class="text-center">{{producto.nombre}}</p>
      <img src="/images/{{producto.uid}}"  alt="No es posible cargar la imagen" style="width:450px">
    </div>
    <div style="width: 50%; float:right;" class="d-flex justify-content-center" >
        <div class="card-body text-center" id="menuSDescripcion">
              <p class="card-text"> Descripcion: <br> {{producto.descripcion}}</p>
              <p class="card-text">Precio: ${{producto.precio}}. </p>
              <p class="card-text text-danger">Quedan {{producto.stock}} disponibles</p>
              <a
                href="/menu/carrito/{{producto.id}}"
                class="btn btn-dark"
                style="background-color:#000; color:#efde2c; margin:7px"
              >Agregar al carrito <i class="fas fa-cart-plus"></i></a>
            </div>
        </div>
    </div>
</div> 

